.padder-md {
  padding-left: 20px;
}
.sl-item:before,
.sl-item:after {
  content: " ";
  display: table;
}
.m-b {
  margin-bottom: 15px;
}
.b-l {
  border-left: 1px solid #dee5e7;
}
.m-l {
  margin-left: 15px;
}
.streamline {
  border-color: #dee5e7;
  position: relative;
}
.streamline .sl-item:after,
.streamline:after {
  background-color: #fff;
  border-color: inherit;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  bottom: 0;
  content: "";
  height: 9px;
  left: 0;
  margin-left: -5px;
  position: absolute;
  width: 9px;
}
.sl-item:after {
  bottom: auto;
  top: 6px;
}
.sl-item:after {
  clear: both;
}
.sl-item:before,
.sl-item:after {
  content: " ";
  display: table;
}
.sl-item:after {
  bottom: auto;
  top: 6px;
}
.sl-item:after {
  clear: both;
}
.sl-item:before,
.sl-item:after {
  content: " ";
  display: table;
}
.sl-item {
  border-color: #dee5e7;
  padding-bottom: 1px;
  position: relative;
  box-sizing: border-box;
}
