<div ng-show="!!velocity_metrics && velocity_metrics.length > 0">
  <div class="well well-sm row" ng-repeat="velocity in velocity_metrics">
    <div class="col-md-4">
      <div class="row" ng-repeat="(primary_metric, metric_value) in velocity.primary_metrics">
        <strong class="col-md-6" style="text-align: right">{{primary_metric}}:</strong>

        <div class="col-md-6" style="text-align: left">{{metric_value}}</div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row" ng-repeat="(secondary_metric, metric_data) in velocity.aggregations">
        <div class="col-md-6" style="text-align: right">
          {{secondary_metric}}
        </div>
        <div class="col-md-6 row" ng-repeat="(aggregation, value) in metric_data">
          <div class="col-md-9" style="text-align: right">{{aggregation}}:</div>
          <div class="col-md-3" style="text-align: left">{{value | number:2}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-info" ng-show="!velocity_metrics || velocity_metrics.length == 0">
  There are no metrics to display. Please use search panel at the <strong>right</strong>.
</div>

<form class="filter-aside panel panel-default" ng-class="{'folded' : app.settings.velocity.metricsSearch.filterFolded}">
  <!-- metrics search -->
  <a ng-click="app.settings.velocity.metricsSearch.filterFolded = !app.settings.velocity.metricsSearch.filterFolded"
     class="btn btn-default no-shadow filter-btn">
    <i ng-class="{ 'fa fa-fw fa-search-plus' : app.settings.velocity.metricsSearch.filterFolded,
    'fa fa-fw fa-search-minus' : !app.settings.velocity.metricsSearch.filterFolded }"></i>
  </a>

  <div class="panel-heading">
    Metrics Search
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="control-group" ng-repeat="metric_type in metrics">
        <label class="control-label">{{metric_type}}</label>

        <div class="controls">
          <input id="{{metric_type}}" name="{{metric_type}}" class="tag-input form-control" autocomplete="on"
                 placeholder="{{metric_type}}" type="text" ng-model="filter[metric_type]"/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-small btn-success text-highlight" type="submit" ng-click="search()">
      <i class="fa fa-search fa-lg icon-white"></i>
      Search
    </button>
  </div>
  <!-- /metrics search -->
</form>
