<date-pagination current-date="currentDate" on-date-change="openPage(currentDate)"></date-pagination>

<div ng-show="!!transactions && transactions.length > 0" infinite-scroll="moreData()"
     infinite-scroll-disabled="loading" class="padder-md">
  <div class="streamline m-b b-l">
    <div class="sl-item" ng-repeat="transaction in transactions">
      <div class="m-l">
        <div>
          {{getDate(transaction.create_date)}}
          <strong>ID: {{transaction.id}}</strong>
        </div>
      <div class="panel panel-default">
        <div class="panel-body row">
          <div class="col-md-2" ng-repeat="(data_type, data_values) in transaction.data" style="width: inherit">
            <strong>{{data_type}}</strong>

            <div ng-repeat="data_value in data_values">
              {{data_value}}
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="loading-box" ng-show="loading">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<div class="alert alert-info" ng-show="!loading && (!transactions || transactions.length == 0)">
  There are no transactions to display. Please use search panel at the <strong>right</strong>.
</div>

<form class="filter-aside panel panel-default" ng-class="{'folded' : app.settings.velocity.dataSearch.filterFolded}">
  <!-- metrics search -->
  <a ng-click="app.settings.velocity.dataSearch.filterFolded = !app.settings.velocity.dataSearch.filterFolded"
     class="btn btn-default no-shadow filter-btn">
    <i class="fa fa-fw fa-filter"></i>
  </a>

  <div class="panel-heading">
    Metrics Search
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="control-group">
        <date-range-picker start-date="dates.startDate" end-date="dates.endDate"
                           on-range-change="openRange(dates.startDate, dates.endDate)"></date-range-picker>
      </div>

      <div class="control-group" ng-repeat="metric_type in metrics">
        <label class="control-label">{{metric_type}}</label>

        <div class="controls">
          <input id="{{metric_type}}" name="{{metric_type}}" class="tag-input form-control" autocomplete="on"
                 placeholder="{{metric_type}}" type="text" ng-model="filter[metric_type]"/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-small btn-success text-highlight" type="submit" ng-click="search()">
      <i class="fa fa-search fa-lg icon-white"></i>
      Search
    </button>
  </div>
  <!-- /metrics search -->
</form>
